.env
.env.local
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

.venv
venv/
env/

.idea/
.vscode/

qdrant_storage/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Backend
backend/__pycache__/
